body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.layout {
  height: 100%;
  width: 100%;
}
.sider {
  width: 10%;
}
.sideNavMenu {
  width: 80%;
}
.spinner {
  margin: 20% 0;
  margin-bottom: 20%;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
.friendRequest-div {
  margin-top: 5%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
}
.friendRequest-paragraph {
  margin-top: 15%;
  margin-bottom: 15%;
  color: red;
  font-size: 30px;
}
.ant-menu-item:hover {
  color: rgb(141, 141, 141) !important;
}
.ant-menu-submenu-title:hover {
  color: rgb(141, 141, 141) !important;
}

.ant-modal-content {
  background-color: rgb(236, 236, 236) !important;
}
.ant-modal {
  background-color: rgb(236, 236, 236) !important;
  border-radius: 5%;
}
.ant-modal-title {
  background-color: rgb(236, 236, 236);
}
.chats-sendButton {
  float: right;
}
.chats-modalChatHeader {
  text-align: center;
  color: rgb(0, 0, 0);
  height: 30px;
}
.chats-modalChatBody {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: auto;
  background-color: white;
}
#me {
  background-color: rgb(65, 65, 252);
  color: white;
  border-radius: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#other {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  border-radius: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
}
#me .Chats-msg-text {
  font-size: 12px;
}
#me .Chats-msg-senderName {
  font-size: 10px;
  float: left;
  opacity: 0.5;
}
#me .Chats-msg-time {
  font-size: 10px;
  float: right;
  opacity: 0.5;
}

#other .Chats-msg-text {
  font-size: 12px;
  margin-left: auto;
}
#other .Chats-msg-senderName {
  font-size: 10px;
  float: left;
  opacity: 0.5;
}
#other .Chats-msg-time {
  font-size: 10px;
  float: right;
  opacity: 0.5;
}

.chats-modalChatBody-time {
  color: rgb(63, 63, 63);
  font-size: 11px;
  float: left;
}
.chats-modalChatBody-name {
  color: rgb(63, 63, 63);
  font-size: 11px;
  margin-right: 10%;
  float: right;
}
.chats-modalChatFooter {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chats-message-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* .ant-form {
  display: flex;
  justify-content: center;
  width: 100%;
} */
.Chats-card-message {
  margin-left: auto;
  margin-right: 25%;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchFriend-card {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}
.navbar-menu-animateddiv {
  height: 100%;
}
.timeline-sider {
  height: 100%;
}
.timeline-layout {
  height: 100%;
  background-color: rgba(0, 21, 41, 255);
}
.postCard-container {
  position: relative;
  width: 100%;
}
.postCard-img {
  /* margin: 5%; */
  object-fit: cover;
  width: 600px;
  height: 400px;
}
.postCard-card {
  margin: 2%;
}
.postCard-modal {
  text-align: center !important;
}
.postCard-comment-modal-form {
  /* width: 1000px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -3.7%;
}
.postCard-formItem-textArea {
  width: 100%;
}
.postCard-showComments-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postCard-comments {
  height: 100px;
  margin-top: 5%;
  overflow: auto;
}
.postCard-commentsListContainer {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 6px;
  padding-left: 10%;
  padding-right: 10%;
}
.postCard-commentsListItem {
  display: flex;
  flex-direction: column;
}
.postCard-comment-delete:hover {
  color: red;
}
.useTransition-div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 100px;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  -webkit-user-select: none;
  user-select: none;
}
.useSpring-div-container {
  margin-top: 10%;
}
.useSprings-div {
  border-radius: 50%;
  width: 10%;
  height: 100px;
  margin-left: auto;
  margin-right: 60%;
}
.useTrail-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 15%;
}
.useTrail-innerdiv {
  font-size: 100px;
}
.parallax-container {
  margin-bottom: 40%;
}
.parallax-p {
  font-size: 100px;
  font-weight: 800;
}
.Footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 21, 41, 255);
  color: white;
}
.Content-container {
  background-color: #f0f0f0;
  padding-bottom: 5%;
  padding-top: 5%;
}
.timeline-content-layout-messages {
  height: 100vh;
  overflow-y: hidden;
}
.timeline-container {
  height: 100vh;
  overflow: hidden;
}
.messages-container {
  background-color: #f0f0f0;
}

.messages-layout {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-right: 7%;
  padding-left: 7%;
  background-color: #f0f0f0;
}
.messages-content {
  padding-top: 30px;
}
.allchats-listitemMeta {
  cursor: pointer;
  text-align: start;
  margin-left: 5%;
}
.AllChats-listItem:hover {
  background-color: rgb(202, 202, 202);
}
.Messages-divider {
  height: 335px;
}
.allPost-container {
  overflow: auto;
}
.editPosts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.editPosts-form {
  border: 1px solid;
  padding: 2%;
}

.EditPosts-img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 3%;
}
.signinAnimation-animation {
  height: auto;
}
.friends-list-container {
  height: 300px;
}
.friends-th-name {
  width: 15%;
}
